<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="dist/css/bootstrap.css">
</head>
<body>

	<div class="container" id="box">
		<h1 class="text-center text-primary">留言板</h1>
		<form role="form" class="text-left" >

			<div class="form-group" >
				<label>用户名：<input v-model="name" class="form-control" type="text" placeholder="请输入名字" name=""></label>
			</div>
			<div class="form-group">
				<label>年龄：<input v-model="age" class="form-control" type="number" placeholder="请输入年龄"></label>
			</div>
			<div class="form-group">
				<input class="btn btn-primary" type="button" value="添加" name="" @click="add">
				<input class="btn btn-success"  type="button" value="重置" name="" @click="reset">
			</div>

			<hr>

			<table class="table table-bordered table-hover" >
				<caption class="h4 text-info text-center">用户信息表</caption>
				<tr class="text-info">
					<th class="text-center">序号</th>
					<th class="text-center">名字</th>
					<th class="text-center">年龄</th>
					<th class="text-center">操作</th>
				</tr>

				<tr class="text-center" v-for="(item,index) in myData">
					<td>{{ index + 1 }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.age }}</td>
					<td><button  class="btn btn-sm btn-danger" type="button" data-toggle="modal" data-target="#layer"  v-on:click="nowIndex=index">删除</button></td>
				</tr>

				<tr v-show=" myData.length != 0 ">
					<td colspan="3"></td>
					<td class="text-center">
						<button type="button" class="btn btn-sm text-center btn-primary" data-toggle="modal" data-target="#layer" @click="nowIndex=-1">全部删除</button>
					</td>
				</tr>

				<tr class="text-center" v-show=" myData.length == 0 ">
					<td colspan="4" class="text-muted">
						<p>暂无数据...</p>
					</td>
				</tr>

			</table>


			<!-- 模态框  弹出框 -->
			<div role="dialog" class="modal fade" id="layer" aria-hidden="true" v-bind:index="nowIndex">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">		
							<button class="close" data-dismiss="modal">x</button>
						</div>
						<div class="modal-body">
							<h4 v-show="nowIndex != -1">确定删除吗？？？</h4>
							<h4 v-show='nowIndex == -1'>确定全部删除吗？？？</h4>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary btn-md" data-dismiss="modal">取消</button>	
							<button class="btn btn-success btn-md" data-dismiss="modal" @click="deleteItem()">确认</button>	

						</div>
						
					</div>
				</div>
			</div>

		</form>
	</div>

	<script type="text/javascript " src='jquery-3.1.0.min.js'></script>
	<script type="text/javascript" src="dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript">

		new Vue({
			el: "#box",
			data: function () {
				return {
					myData: [],
					name: '',
					age: '',
					nowIndex: -100
				}
			},
			methods: {
				add: function() {
					var name = this.name;
					var age = this.age;
					if(name == '' && age == "")return
						this.myData.push({name: name,age:age})
				},
				reset: function() {
					this.name = ''
					this.age = ''
				},
				deleteItem: function(){
					if(this.nowIndex == -1){
						this.myData = [];
					}else{
						this.myData.splice(this.nowIndex,1)						
					}
				}
			}

		})	


	</script>
</body>
</html>