<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my first vue</title>
    <style>
        div{
            border-bottom: 2px solid #000;
            padding: 10px 0;
        }
    </style>
</head>
<body>

    <div id="app">
        {{ message }}
    </div>
    <div id="app-2">
      <span v-bind:title="message">
        鼠标悬停几秒钟查看此处动态绑定的提示信息！
    </span>
</div>
<div id="app-3">
    <p v-if="seen">现在你看到我了</p>
</div>
<div id="app-4">
    <ol>
        <li v-for="(todo,index) in todos">
         {{ todo.text }}={{index}}=== {{$index}}
     </li>
 </ol>
</div>
<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">逆转消息</button>


    <ul>
        <todo-item></todo-item>
    </ul>

</div>

<hr>

<ul>
    <todo-item></todo-item>
</ul>

<script src="../js/vue.js"></script>
<script>

    var app = new Vue({
     el: '#app',
     data: {
        message: 'hello Vue !'
    }
});
    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: '页面加载于 ' + new Date()
        }
    });
    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        }
    });
    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
            { text: '学习 JavaScript' },
            { text: '学习 Vue' },
            { text: '整个牛项目' }
            ]
        }
    });
    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Hello Vue.js!'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    });

//    组件开发
Vue.component('todo-item',{
    template: '<li>这是个代办项</li><li>这是个代办项2</li>'
});


</script>
</body>
</html>